.plateau {
    border: solid black 1px;
    text-align: center;
    width: 100%;
    height: auto;
}

.case {
    border: solid black 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.robot1 {
    background-image: url(robot1.png);
    background-repeat: no-repeat;
}

.robot2 {
    background-image: url(robot2.png);
    background-repeat: no-repeat;
}

.robot3 {
    background-image: url(robot3.png);
    background-repeat: no-repeat;
}

.robot4 {
    background-image: url(robot4.png);
    background-repeat: no-repeat;
}
