body {
    display: inline-flex;
    width: 100%;
}

.player1, .player2 {
    text-align: center;
}

.board {
    border: solid black 1px;
    text-align: center;
    height: auto;
}

.case {
    border: solid black 1px;
    width: 50px;
    height: 50px;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}

.robot0 {
    background-image: url(../images/robot0.png) !important;
    background-repeat: no-repeat;
}

.robot1 {
    background-image: url(../images/robot1.png) !important;
    background-repeat: no-repeat;
}

.wall {
    background-image: url(../images/wall.png);
    background-repeat: no-repeat;
}

.weapon0 {
    background-image: url(../images/remote.png);
    background-repeat: no-repeat;
}

.weapon1 {
    background-image: url(../images/newspaper.png);
    background-repeat: no-repeat;
}

.weapon2 {
    background-image: url(../images/broom.png);
    background-repeat: no-repeat;
}

.weapon3 {
    background-image: url(../images/keyboard.png);
    background-repeat: no-repeat;
}

.weapon4 {
    background-image: url(../images/fist.png);
    background-repeat: no-repeat;
}

.mobility {
    background-color: mediumseagreen;
}

.mobility:hover {
    background-color: aquamarine;
}
