body {
    background-color: #2B2D42;
}

.container {
    background-color: white;
}

.player1, .player2 {
    text-align: center;
    line-height: 35px;
}

.page-header {
    text-align: center;
    margin: 0 20px;
}

.rules {
    margin: 10px 0;
}

.deletePoint {
    list-style: none;
}

.board {
    border: solid black 4px;
}    

.case {
    border: solid black 1px;
    width: 50px;
    height: 50px;
    background-position: center;
}

.ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

.robot0 {
    background-image: url(../images/robot0.png) !important;
    background-repeat: no-repeat;
}

.robot1 {
    background-image: url(../images/robot1.png) !important;
    background-repeat: no-repeat;
}

.wall {
    background-image: url(../images/wall.png);
    background-repeat: no-repeat;
}

.weapon0 {
    background-image: url(../images/remote.png);
    background-repeat: no-repeat;
}

.weapon1 {
    background-image: url(../images/newspaper.png);
    background-repeat: no-repeat;
}

.weapon2 {
    background-image: url(../images/broom.png);
    background-repeat: no-repeat;
}

.weapon3 {
    background-image: url(../images/keyboard.png);
    background-repeat: no-repeat;
}

.weapon4 {
    background-image: url(../images/fist.png);
    background-repeat: no-repeat;
}

.mobility {
    background-color: mediumseagreen;
}

.mobility:hover {
    background-color: aquamarine;
}
