.board {
    border: solid black 1px;
    text-align: center;
    width: 100%;
    height: auto;
}

.case {
    border: solid black 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.robot0 {
    background-image: url(../images/robot0.png);
    background-repeat: no-repeat;
}

.robot1 {
    background-image: url(../images/robot1.png);
    background-repeat: no-repeat;
}

.wall {
    background-image: url(../images/wall.png);
    background-repeat: no-repeat;
}

.weapon0 {
    background-image: url(../images/remote.png);
    background-repeat: no-repeat;
}

.weapon1 {
    background-image: url(../images/newspaper.png);
    background-repeat: no-repeat;
}

.weapon2 {
    background-image: url(../images/broom.png);
    background-repeat: no-repeat;
}

.weapon3 {
    background-image: url(../images/keyboard.png);
    background-repeat: no-repeat;
}

.weapon4 {
    background-image: url(../images/fist.png);
    background-repeat: no-repeat;
}

.mobility {
    background-color: mediumseagreen;
}
